/* Create a dark background. */
body {
	margin: 0;
}

/* Fit the canvas to the page width. */
#container {
  position: relative;
}
#container #overlay {
  font-family: 'Lobster', cursive;
  font-size: 40pt;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
#canvas {
  border: 1px solid black;
}